
body{
    background-image:url("download (20).jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    height:650%;
}

h2{
    font-size:60px;
    padding:100px;
    padding-left: 20px;
    text-decoration: underline;
    
}

p{
    font-size:40px;
    color:white;
}

nav{
    text-decoration: none;
    float:left;
    margin-top:20px;
    position:relative;
}


.navbar img{
   border-radius: 30%;
   width: 200px;
   height: 200px;
   float:left;
}
  
 ul{
     text-decoration: none;
    float: right;
    list-style: none;
    margin-top:25px;
    
}   

ul li{
    display:inline-block;
    padding:6px 50px;
    font-size:40px;
    text-decoration: none;
}

nav>ul>li>a:hover{
    color: white;
    text-decoration: none;

                
                
} 
h3{
    font-size:30px;
    float:left
}



.heading{
    padding:10%;
    margin:0%
}