body{
    background-image:url("http://www.sclance.com/backgrounds/cool-background-art/cool-background-art_630984.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.logo img{
    border-radius:40%;
    width:200px;
    height:200px;
}


ul li{
    display:inline-block;
    padding:5px 50px;
    font-size:40px;
    float:center;
    position:relative;
}

li a{
    color:white;
    text-decoration: none;
}

nav{
    background-color:#1312129e;
}

.pics{
    border-radius:70px;
    justify-content:space-around;
    display:flex;
}