
body{
    background-image:url("http://www.sclance.com/backgrounds/cool-background-art/cool-background-art_630984.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.logo img{
    border-radius:40%;
    width:200px;
    height:200px;
}


ul li{
    display:inline-block;
    padding:5px 50px;
    font-size:40px;
}

li a{
    color:white;
    text-decoration: none;
}

h2,h3,h4{
    color:yellow;
    font-size:70px;
    text-align:center;
    text-decoration: underline;
}

p{
    color:white;
    font-size:30px;
    text-align: center;
}

nav{
    background-color:#1312129e;
}

.aim,.reach{
background-color: #22076170;
}


.arts{
    border:50px;
}

.moja,.two,.three{
    display: flex;
    justify-content:space-around;
}

.arts{
    align-content: center;
}

.photos img{
    border-radius: 30%
}
