 body{
    background-image:url("download (20).jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    height:650%;
}

  nav{
      text-decoration: none;
    float:left;
    margin-top:20px;
    padding:6px
} 

.navbar img{
    border-radius: 30%;
    width: 200px;
    height: 200px;
    float:left;
 }

 ul{
     text-decoration: none;
    float: right;
    list-style: none;
    margin-top:25px;
}   

ul li{
    display:inline-block;
    padding:6px 50px;
    font-size:40px;
    text-decoration:none;
}


                
 

h2{
    font-size:70px;
        color:black;
        text-align:center;
        text-decoration: underline;
} 
h3{
font-size:60px;
}


.heading{
     padding:10%;
     margin:0%
}

h1{
    font-size: 50px;
}
p{
    font-size:30px;
}

.images img{
    border-radius: 32%;
    width: 200px;
    height: 200px;
}

.hacks img{
      border-radius: 100%;
      width:200px;
      height:200px;
}

.beads img{
       border-radius: 20%;
       width:200px;
       height:200px;
}

h4{
    font-size: 30px;
    float:left;
}

nav>ul>li>a:hover{
    color: white;
    text-decoration: none;
