 body{
    background-image:url("http://www.sclance.com/backgrounds/cool-background-art/cool-background-art_630984.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.logo img{
    border-radius:40%;
    width:200px;
    height:200px;
}


ul li{
    display:inline-block;
    padding:5px 50px;
    font-size:40px;
    float:center;
    position:relative;
}

li a{
    color:white;
    text-decoration: none;
}

nav{
    background-color:#1312129e;
}

h1{
    color:white;
    font-size:50px;
    text-align: center;
}

p,h3{
    font-size:30px;
    color:white;
    text-align: center;
}

h2{
    font-size:60px;
    color:white;
    text-align:center;
    text-decoration:underline;
}


.images{
          justify-content:space-around;
          display:flex;
}

.images img{
    border-radius: 20%
}

.necklace{
    background-color:gray;
    align-content:center;
}

.braces{
       justify-content:space-around;
        display:flex;
}

.braces img{
      border-radius: 20%
}

.bracelets{
    background-color: #808080bf;
}


.sandals{
        background-color:gray;
}


.sands  {
    justify-content:space-around;
    display:flex;
}

.sands img{
    border-radius: 20%
}

.hacks{
    justify-content:space-around;
    display:flex;
}

.hacks img{
    border-radius: 20%
}