body{
      background-image:url("http://www.sclance.com/backgrounds/cool-background-art/cool-background-art_630984.jpg");
      background-repeat: no-repeat;
      background-size:cover;
    
}


.logo img{
    border-radius:40%;
    width:200px;
    height:200px;
}

ul li{
    display:inline-block;
    padding:5px 50px;
    font-size:40px;
    float:center;
}

li a{
    color:white;
    text-decoration: none;
}


#overlay{
       opacity:2px;
}
h1{
    color:white;
    text-align:center;
    font-size:90px;
    padding:20px;
    
}



h2{
    color:yellow;
    font-size:50px;
    text-align:center;

}

nav{
    background-color:#1312129e;
}

